@page "/labtest"
@layout MainLayout
@using Models
@using Innovator.Client;
@using TelerikBlazorApp1.Components

<TelerikSplitter Orientation="@SplitterOrientation.Vertical" Height="100%" Width="100%">
  <SplitterPanes>
    <SplitterPane>
      <TelerikGridLayout>
        <GridLayoutColumns>
          <GridLayoutColumn />
          <GridLayoutColumn />
          <GridLayoutColumn />
          <GridLayoutColumn />
          <GridLayoutColumn />
          <GridLayoutColumn />
          <GridLayoutColumn />
          <GridLayoutColumn />
        </GridLayoutColumns>
        <GridLayoutRows>
          <GridLayoutRow />
          <GridLayoutRow />
          <GridLayoutRow />
          <GridLayoutRow />
          <GridLayoutRow />
          <GridLayoutRow />
          <GridLayoutRow />
          <GridLayoutRow />
          <GridLayoutRow />
          <GridLayoutRow />
        </GridLayoutRows>
        <GridLayoutItems>
          <GridLayoutItem Row="1" Column="1" ColumnSpan="8">
            <div class="cell-outlined" style="background-color: aqua;">
              <h3>Lab Test</h3>
            </div>
          </GridLayoutItem>

          <GridLayoutItem Row="2" Column="1">
            <div class="cell-outlined">Based On:</div>
          </GridLayoutItem>
          <GridLayoutItem Row="2" Column="2" ColumnSpan="4">
            <div class="cell-outlined">
              <TelerikTextBox PlaceHolder="Based on" Enabled="false"></TelerikTextBox>
            </div>
          </GridLayoutItem>
          <GridLayoutItem Row="2" Column="6">
            <div class="cell-outlined">Lab Controlled Checkbox here</div>
          </GridLayoutItem>
          <GridLayoutItem Row="2" Column="7">
            <div class="cell-outlined">Section</div>
          </GridLayoutItem>
          <GridLayoutItem Row="2" Column="8">
            <div class="cell-outlined">
              <TelerikTextBox PlaceHolder="1.0" Enabled="false"></TelerikTextBox>
            </div>
          </GridLayoutItem>

          <GridLayoutItem Row="3" Column="1">
            <div class="cell-outlined">Test Name:</div>
          </GridLayoutItem>
          <GridLayoutItem Row="3" Column="2" ColumnSpan="5">
            <div class="cell-outlined">
              <TelerikTextBox Enabled="false" Value="@TestName" PlaceHolder="Test Name" />
            </div>
          </GridLayoutItem>
          <GridLayoutItem Row="3" Column="7">
            <div class="cell-outlined">Test ID</div>
          </GridLayoutItem>
          <GridLayoutItem Row="3" Column="8">
            <div class="cell-outlined">
              <ItemTextbox ItemType="Lab Test" PropertyName="test_id" OnItemUpdate="handleOnItemUpdate" Placeholder="Test Id" Enabled="true"/>
            </div>
          </GridLayoutItem>

          <GridLayoutItem Row="4" Column="1">
            <div class="cell-outlined">Test Description</div>
          </GridLayoutItem>
          <GridLayoutItem Row="4" Column="2" ColumnSpan="5" RowSpan="2">
            <div class="cell-outlined">
              <TelerikTextArea PlaceHolder="Description" Enabled="false"></TelerikTextArea>
            </div>
          </GridLayoutItem>
          <GridLayoutItem Row="4" Column="7">
            <div class="cell-outlined">State</div>
          </GridLayoutItem>
          <GridLayoutItem Row="4" Column="8">
            <div class="cell-outlined">
              <TelerikTextBox PlaceHolder="Plan" Enabled="false"></TelerikTextBox>
            </div>
          </GridLayoutItem>

          <GridLayoutItem Row="5" Column="1">
            <div class="cell-outlined"></div>
          </GridLayoutItem>
          <GridLayoutItem Row="5" Column="7">
            <div class="cell-outlined">Round</div>
          </GridLayoutItem>
          <GridLayoutItem Row="5" Column="8">
            <div class="cell-outlined">
              <ItemTextbox ItemType="Lab Test Round" PropertyName="round_id" Placeholder="TR-20140129"></ItemTextbox>
            </div>
          </GridLayoutItem>

          <GridLayoutItem Row="6" Column="1">
            <div class="cell-outlined">Acceptance Criteria</div>
          </GridLayoutItem>
          <GridLayoutItem Row="6" Column="2" ColumnSpan="5" RowSpan="2">
            <div class="cell-outlined">
              <TelerikTextArea PlaceHolder="Criteria"></TelerikTextArea>
            </div>
          </GridLayoutItem>
          <GridLayoutItem Row="6" Column="7">
            <div class="cell-outlined">Department</div>
          </GridLayoutItem>
          <GridLayoutItem Row="6" Column="8">
            <div class="cell-outlined"> Corporate Labs
            </div>
          </GridLayoutItem>

          <GridLayoutItem Row="7" Column="1">
            <div class="cell-outlined"></div>
          </GridLayoutItem>
          <GridLayoutItem Row="7" Column="7">
            <div class="cell-outlined">Lab Location</div>
          </GridLayoutItem>
          <GridLayoutItem Row="7" Column="8">
            <div class="cell-outlined">PCT</div>
          </GridLayoutItem>

          <GridLayoutItem Row="8" Column="1">
            <div class="cell-outlined">Special Instructions</div>
          </GridLayoutItem>
          <GridLayoutItem Row="8" Column="2" ColumnSpan="5" RowSpan="2">
            <div class="cell-outlined">
              <TelerikTextArea PlaceHolder="Special Instructions"></TelerikTextArea>
            </div>
          </GridLayoutItem>
          <GridLayoutItem Row="8" Column="7">
            <div class="cell-outlined">Subcontracted Lab</div>
          </GridLayoutItem>
          <GridLayoutItem Row="8" Column="8">
            <div class="cell-outlined">S lab</div>
          </GridLayoutItem>

          <GridLayoutItem Row="9" Column="1">
            <div class="cell-outlined"></div>
          </GridLayoutItem>
          <GridLayoutItem Row="9" Column="7">
            <div class="cell-outlined">Test Category</div>
          </GridLayoutItem>
          <GridLayoutItem Row="9" Column="8">
            <div class="cell-outlined">cat</div>
          </GridLayoutItem>

          <GridLayoutItem Row="10" Column="1">
            <div class="cell-outlined">Test Plan</div>
          </GridLayoutItem>
          <GridLayoutItem Row="10" Column="2">
            <div class="cell-outlined">
              <TelerikTextBox PlaceHolder="Test Plan"></TelerikTextBox>
            </div>
          </GridLayoutItem>
          <GridLayoutItem Row="10" Column="3">
            <div class="cell-outlined">Test Plan Rev</div>
          </GridLayoutItem>
          <GridLayoutItem Row="10" Column="4">
            <div class="cell-outlined">
              <TelerikTextBox PlaceHolder="Rev"></TelerikTextBox>
            </div>
          </GridLayoutItem>
          <GridLayoutItem Row="10" Column="5">
            <div class="cell-outlined">Test Plan Section</div>
          </GridLayoutItem>
          <GridLayoutItem Row="10" Column="6">
            <div class="cell-outlined">
              <TelerikTextBox PlaceHolder="Section"></TelerikTextBox>
            </div>
          </GridLayoutItem>
          <GridLayoutItem Row="10" Column="7">
            <div class="cell-outlined">Target Req's'</div>
          </GridLayoutItem>
          <GridLayoutItem Row="10" Column="8">
            <div class="cell-outlined">All Must Pass</div>
          </GridLayoutItem>

        </GridLayoutItems>
      </TelerikGridLayout>
      </SplitterPane>
    <SplitterPane>
      <div>The Tab strip goes here.</div>
    </SplitterPane>
  </SplitterPanes>
</TelerikSplitter>













@code {
  private IReadOnlyItem LabTestItem;

  private void handleOnItemUpdate(IReadOnlyItem item)
  {
    LabTestItem = item;
  }

  public string TestName
  {
    get => LabTestItem?.Property("test_name").AsString(string.Empty);
  }

}
