@page "/lims"
@inherits ComponentBase
@layout MainLayout
  <div>
    <h3>LIMS</h3>
    @*<TelerikTileLayout Columns="3" ColumnWidth="200"
                         RowHeight="150px
                         Resizable="true" Reorderable="true">
        <TileLayoutItems>
          <TileLayoutItem HeaderText="Ready to Schedule">
            <Content>List of tests that are ready to schedule.</Content>
          </TileLayoutItem>
          <TileLayoutItem HeaderText="My Tests">
            <Content>These are the tests assigned to me.</Content>
          </TileLayoutItem>
          <TileLayoutItem HeaderText="Resources">
            <Content>A list of all Resources</Content>
          </TileLayoutItem>
        </TileLayoutItems>
      </TelerikTileLayout>*@
  </div>
  @code {

  }
