@page "/login"
@using System.ComponentModel.DataAnnotations
@using System.Dynamic
@using Services
@using Innovator.Client;
@using Innovator.Server;
@inject NavigationManager navMgr
@inject ArasConnectionService aras

<style>
  /*
        Styles normally go in a .css file.
        This is just a simple example to get you started.
    */
  .loginForm {
    width: 175px;
  }
</style>

<h3>Login</h3>
<div>
  <TelerikTextBox Label="User Name" @bind-Value="person.UserName"></TelerikTextBox>
  <TelerikTextBox Password="true" Label="Password" @bind-Value="person.Password"></TelerikTextBox>
</div>
<br />
<TelerikButton OnClick="ArasLogin">Submit</TelerikButton>

@code {

  public Person person = new Person();

  [CascadingParameter]
  public DialogFactory Dialogs { get; set; }



  public async Task ArasLogin()
  {
    var loginStatus = await aras.Login(person.UserName, person.Password);

    if (loginStatus)
    {
      navMgr.NavigateTo("/lims");
    }
    else
    {
      await Dialogs.AlertAsync("Login Failed!", "Login");
    }


  }

  public class Person
  {
    [Required(ErrorMessage = "User Name is Required.")]
    [Display(Name = "User Name")]
    public string UserName { get; set; }

    [Required(ErrorMessage = "You must enter a password.")]
    [Display(Name = "Password")]
    public string Password { get; set; }
  }
}
